.App {
  text-align: center;
}

#heading {
  text-align: center;
  text-transform: uppercase;
  color: #4caf50;
  margin-top: 50px;
}

#quote-box {
  width: 40%;
  height: 40%;
  background-color: rgb(153, 153, 153);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 12px;
}

#button1 {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 10px;
  padding: 8px;
}

#button2 {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 10px;
  padding: 8px;
}

#author {
  position: absolute;
  right: 0;
  margin: 12px;
  padding: 8px;
  color: white;
}

#text {
  color: white;
}
